@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  
    /* font-family: "Dancing Script", cursive;
    font-family: "Poppins", sans-serif; */

}
.container{
    width: 1440;
    max-width: 95%;
    margin: 0 auto;
    
}
:root {
   
    --font-color: rgb(224, 203, 171);
    --bg--color:rgb(137, 115, 88);
    --c1--color:  rgb(68, 66, 64);
     --c2--color: rgb(235, 17, 17);
}
header{
    position: sticky;
    left: 0;
    top: 0;

    background-color: var(--bg--color);
    z-index: 10;
    
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg--color);
    height: 80px;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
  

  
}
.navbar_logo_stol{
   
    width: 50px;
    height: 50px;
    position: relative;
    margin-left: 20px;
    
}
.navbar_logo_stol img{
    width: 100%;
}
.navbar_logo_stol p{
    display: inline-block;
    position: absolute;
    font-size: 18px  ;
    font-weight: bold;
    color: var(--font-color);
    left: 0;
    bottom: 0;
    font-family: "Oleo Script", system-ui;
    text-shadow: 2px 2px 10px black;
}
.navbar ul{
    display: flex ;
    gap:20px;
    
    

}
.navbar ul a{
   font-size: 20px;
   color: var(--font-color);
   text-shadow: 2px 2px 10px black;
   transition:  0.7s ease;
    
}
.navbar ul a:hover{
   color: white;
   transition:  0.7s ease;
     
 }


 .navbar__listur{
    width: 50px;
    height: 100px;
    margin-top: 30px;
    position: relative;

 
   
 }
 .man_icon{
   
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--font-color);
    border-radius: 50%;
   position: absolute;
   z-index: 1;
   transition:  0.7s ease;
  


   
 }
 .man_icon:hover{
   
   
    background-color:white;
    transition:  0.7s ease;
    cursor: pointer;
   
 }
 .man_icon img{
    width: 100%;
    padding: 5px;

 }
 .listur{
    width: 150px;
    
    
    position: absolute;
    left: -38px;
    top: 55px;
 

    
 }
 .listur img{
    width: 100%;
    z-index: 0;

 }


.btn_img{
   height: 20px;
   width: 20px;
   position: absolute;
    padding-right: 7px;
   top:  3px;

  
   
}
.background2 {
    width: 100%;
    height: calc(100vh - 80px );
    background-image: linear-gradient(61deg, rgba(0, 0, 0, 0.481) 0%, rgba(1, 1, 1, 0.6699929971988796) 100%), url("bg1.jpeg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.background2 h1{
  text-align: center;
  font-size: 50px ;
  text-transform: uppercase;
  font-family: "Oleo Script", system-ui;
  color:var(--font-color);

  
}
.background2 p{
    text-align: center;
     padding:0 200px ;
   font-size: 20px;
    font-family: "Oleo Script", system-ui;
    color:var(--font-color)
  
    
  }

  .background1 {
    width: 100%;
    height: calc(100vh - 80px ); 
    background-image:linear-gradient(61deg, rgba(0, 0, 0, 0.481) 0%, rgba(1, 1, 1, 0.6699929971988796) 100%),  url("bg.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.background1 h1{
  text-align: center;
  font-size: 50px!important;
  font-family: "Oleo Script", system-ui;
  color:var(--font-color);
  font-size: 25px;

  
}
.background1 p{
    text-align: center;
     padding:0 200px ;
     font-size: 20px;
    font-family: "Oleo Script", system-ui;
    color:var(--font-color)
  
    
  }
  section{
    width: 90%;
    height: 100%;
   
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .bas{
    text-align: center;
  }
  .bas h1{
    color: rgb(44, 22, 2);
    font-family: "Oleo Script", system-ui;
    font-size: 50px;
    margin-top: 20px;
  }
  .bas p{
    color: rgb(44, 22, 2);
    font-family: "Oleo Script", system-ui;
    text-align: center;
    font-size: 25px;
  }
.product {
  margin-top: 20px;
  margin-left: 15px;
    width: 22%;
    height: 320px;
   
    border: 2px solid rgb(236, 193, 128);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.product i{
  width: 5px ; 
   height: 5px;
  position: absolute;
  right: 15px;
  top:  5px;
z-index: 1;

}

.heart{
  color: rgb(7, 7, 7);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(245, 201, 165);
  border: 1px solid rgb(224, 203, 171);
  box-shadow: 0px 0px 5px 1px rgb(54, 54, 54);
  position: absolute;
  right: 0;
    top:  0;
  margin: 5px;
  transition: 0.5s ease;

}
.heart:hover{
  box-shadow: 0px 0px 5px 1px rgb(253, 2, 2);
  color: rgb(253, 2, 2);
  transition: 0.5s ease;
 
}

.heart i{
  font-size: 20px;
  position: absolute;
  right: 28px;
 top: 15px;

}
.product img{
    width: 100%;
    height: 200px;
}
.product p{
  margin: 10px 0;
    font-size: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 0px 5px;
}
.buy{
    margin-top: 5px;
    display: flex;
    align-items: center;
   justify-content:space-around;
}

button{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(204, 170, 95);
    background-color: rgb(44, 22, 2) ;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    transition: 0.7s ease;
    cursor: pointer;
}
button:hover{
  
    background-color: rgb(163, 117, 30);
    transition: 0.7s ease;
}
.products{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: flex-start;
  
}


.abouts{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  

}
.about{
  width: 50%;
  text-align: justify;
  padding: 10px 40px;
  position: relative;
  font-family: "Oleo Script", system-ui;

}
.about h1{
  font-size: 50px;
}
.about p{

  position: absolute;
  font-size: 20px;
 padding-right: 30px;
  


}

.about_icon1{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 10px;
  top: 60px;
  z-index: -1;

}
.about_icon2{
  width: 50px;
  height: 50px;
  position: absolute;
  left:  133px;
  top:60px;
  z-index: -1;

}
.slide{
  width: 40%;
  height: 300px;
  margin-left: 10px;
 position: relative;

}
.slide img{
  width: 100%;
  z-index: 0;
}
.i_1{
color: rgb(204, 113, 2);
position: absolute;
left: 10px;
top: 85%;
z-index: 1;
font-size: 30px;
transition: 0.7s ease;
}
.i_2{
  color: rgb(204, 113, 2);
  position: absolute;
  right: 10px;
  top: 85%;
  z-index: 1;
font-size: 30px;
transition: 0.7s ease;
  }
  .i_1:hover{
    color: rgb(5, 5, 5);
   transition: 0.7s ease;
   cursor: pointer;
  }
  .i_2:hover{
      color: rgb(8, 8, 8);
   transition: 0.7s ease;
   cursor: pointer;
   }





